*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 99%;
}

.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap; /*satırlar sığmıyorsa alt satırlara geçmesini istiyoruz.*/
    flex-direction: column;/*alt alta gelmesini sağladık*/
}

header{
    width: 100%; /*konteynır genişliğinde olsun*/
    height: 100px;
    background: #f69679;
}

section.bolum1{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
}

.slider{
    width: 750px;
    height: 160px;
    background: #00ffff;
    flex-grow: 1;
    margin: 5px 0 5px 0;
    flex-shrink: 2;
}

aside{
    display: flex;
    flex-wrap: wrap; /*sıgmadıgı durumlarda alt satırlara kayabilsin.*/
    width: 250px;
    height: 160px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px 0 0 5px;
    flex-direction: row; 
    /*yan yana gelmesi için. buranın aslında column olması gerekemektedir.*/
    align-content: stretch;
    
}

.aciklama{
    flex-basis: 100%;
    margin-bottom: 5px;
    background: #432d04;
}

.aciklama:nth-last-child(1){
    margin-bottom: 0;
}

section.bolum2{
    display: flex;
    height: 200px;/*normalde girmiyoruz ancak içeriğimiz olmadıgından bugun giriyoruz.*/
    width: 100%;
    flex-wrap: nowrap;
}

article{
    flex-basis: 750px;
    height: 200px;
    background: #2e3192;
    flex-grow: 1;
    flex-shrink: 2;
}

.yanmenu{
    flex-basis: 250px;
    background: #fff200;
    margin-left: 5px;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: stretch;
}


footer{
    width: 100%;
    height: 100px;
    background: #ec008c;
    margin-top: 5px;
}

/*elemanların kaydırılması işlemlerini kontrol edeceğiz.max 768 px altına düşerse anlamındadır*/
@media screen and (max-width:768px){
    section.bolum1{
        flex-direction: column;/*alta kaysınlar diye*/ 
    }
    .slider{
        width: 100%;
        margin: 5px 0 5px 0;
    }
    aside{
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
        display: flex;
        height: 70px;
        justify-content: space-between;
    }
    
    .aciklama{
        width: 100px;
        flex-grow: 1;
        margin-bottom: 5px;
        margin-right: 3px;
        height: 60px;
    }
    .aciklama:nth-last-child(1){
        margin-right: 0px;
    }
}

@media screen and (max-width:320px) {
section.bolum1 {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column;
}
.slider {
	width: 100%;
	height: 160px;
	background: #00ffff;
	margin: 5px 0px 5px 0;
}
aside {
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	flex-grow: 1;
	height: 150px;
	margin-top: 5px;
	flex-direction: column;
}
.aciklama {
	width: 100%;
	height: 120px;
	flex-grow: 1;
	margin-bottom: 5px;
	margin-right: 3px;
	background: #432D04;
}
section.bolum2 {
	width: 100%;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	height: 150px;
}
article {
	flex-grow: 1;
	width: 150px;
	margin: 5px 0;
	height: 150px;
}
.yanmenu {
	display: none;
	flex-grow: 1;
	height: 150px;
	width: 200px;
}
footer {
	display: flex;
}























